html, body {
	margin: 0px;
	border: 0px;
	height: 100%;
	font-family: 'PingFang SC' ,Helvetica;
}
body {
	/*background: url("../img/5-min.jpg") center no-repeat;*/
	background: center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	transition: background 0.5s;
	/*-webkit-overflow-scrolling:touch;*/
}

div#container {
	height: 100%;
	width: 1080px;
	margin: 0 auto;
	border: 0px;
	padding: 0px;
	align-items: center;
	display: -webkit-flex;
	/*overflow: hidden;*/
	/*border: solid 1px #000000;*/
}

/* 主窗口 */
div#main {
	height: 98%;
	/*overflow: hidden;*/
	box-shadow: 0px 0px 10px 3px #333333;
	background-color: transparent;
	/*border-radius: 15px;*/
}

/* 左侧文章区域 */
div#content {
	height: 100%;
	width: 800px;
	float: left;
	/*background-color: #bbbbbb;*/
	background-color: transparent;
}

/* 右侧导航区域 */
div#navigator {
	height: 100%;
	width: 280px;
	/*width: 100%;*/
	float: left;
	background-color: rgba(221,221,221,0.8);
	position: relative;
}

/* 目录标题 */
#navTitle {
	position: absolute;
	width: 100%;
	display: block;
	background-color: #333333;
	padding: 8px 0px;
	border-bottom: solid 1px #888888;
	text-align: center;
	/*align-items: center;*/
	user-select: none;
}

/* 目录标题文字 */
#navTitle b {
	font-size: 30px;
	color: #eeeeee;
	/*border: 1px solid white;*/
}

/* 目录列表整体 */
#navItems {
	top: 59px;
	bottom: 77px;
	position: absolute;
	/*padding: auto;*/
	/*margin: auto;*/
	padding-bottom: 8px;
	height: auto;
	width: calc(100% - 6px);
	margin-left: 6px;
	overflow-x: hidden;
	overflow-y: auto;
	/*overflow: -moz-scrollbars-none;*/
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	/*border: 1px solid black;*/
}

#navItems::-webkit-scrollbar {
	display: none;
}

/* 目录列表下方的所有 ul */
#navItems ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*width: 280px;*/
	width: 100%;
}

/* 目录列表包裹的 ul */
/*#navItems > ul {
	overflow-x: hidden;
	overflow-y: auto;
}*/

/* 列表单个条目 */
#navItems li {
	cursor: pointer;
}

/* 折叠子列表 */
.navItem-subList {
	height: 0px;
	overflow: hidden;
	transition: all 0.5s;
}

/* 根目录下的文章列表 */
#navItems > ul > .navItem-subList {
	height: auto !important;
	overflow: visible !important;
}

/* 条目前缀 */
.navItem-subList-item > a:before {
	content: '- ';
}

/* 根目录下的条目前缀 */
#navItems > ul > .navItem-subList > .navItem-subList-item > a:before {
	content: '' !important;
}

/* 父级条目 */
.navItem-title {
	width: calc(100% - 17px);
	font-size: 23px;
	text-decoration: none;
	display: block;
	/*color:#333333;*/
	color: #544c06;
	padding: 8px 5px;
	text-align: left;
	/*border: 1px solid black;*/
}

/* 列表条目（文件夹）标题前方箭头 */
.navItem-title-arrow {
	display: block;
	padding-left: 6px;
	padding-right: 8px;
	/*text-align: left;*/
	width: fit-content;
	/*border: 1px solid black;*/
	float: left;
	/*text-align: left !important;*/
	transition: all 0.5s;
	/*border: 1px solid white;*/
}

/* 列表条目（文件夹）标题文本 */
.navItem-title-content {
	display: block;
	/*padding-left: 8px;*/
	text-align: left;
	/*width: 240px;*/
	/*width: 100%;*/
	font-weight: 700;
	/*margin-left: : 30px;*/
	/*float: left;*/
	overflow: hidden;
	/*border: 1px solid white;*/
}

/* 二级条目 */
.navItem-subList-item {
	display: table;
	/*display: block;*/
	/*padding: 5px 4px 5px 30px;*/
	height: 40px;
	width: calc(100% - 7px);
	text-decoration: none;
	color:#333333;
	text-align: left;
}

/* 二级条目中的文本 */
.navItem-subList-item > a {
	display: table-cell;
	vertical-align: middle;
	padding-left: 30px;
	font-size: 22px;
}

/* 所有条目 hover */
.navItem-title:hover, .navItem-subList-item:hover {
	color: #cccccc;
	background-color: #444444;
	box-shadow: 3px 3px 6px 1px #999999;
}

/* 所有条目 active */
.navItem-title:active, .navItem-subList-item:active {
	color: #ffffff;
	background-color: #000000;
}

/* 右侧下方按钮整体 */
#navButtons {
	position: absolute;
	width: 100%;
	bottom: 0px;
	user-select: none;
}

/* 右侧下方按钮之间横线 */
#navButton-changeImage:after {
	position: absolute;
	left: 5%;
	top: 37px;
	content: '';
	width: 90%;
	height:0px;
	border-bottom: 1px solid #666;
	box-shadow: 0px 2px 2px #888;
}
div.navButton {
	cursor: pointer;
}
div.navButton a {
	font-size: 22px;
	text-decoration: none;
	padding: 4px;
	/*width: 184px;*/
	display: block;
	background-color: transparent;
	text-align: center;
}
div.navButton a:hover {
	color: #dddddd;
	background-color: #333333;
}
/*p#end{
	color: #dddddd;
	font-size: 20px;
	line-height: 0%;
	padding-top: 22px;
	text-align: center;
}*/